__pycache__/
venv/
TEST/.idea/
.idea/
TEST/.idea
.idea
TEST/.idea/caches/deviceStreaming.xml
TEST/.idea/workspace.xml

trash/*
.env
Backend/.env
Backend/main.py
Backend/Databases/mukanew-d0a687009bea.json